{% block header%}
<nav>
  <a href="/Home"
    ><i class="fa-solid fa-house"></i>
    <span> Home </span>
  </a>
  <a href="/AddHours">
    <i class="fa-solid fa-pen-to-square"></i>
    <span> Add hours </span>
  </a>
  <a href="/ViewHours"
    ><i class="fa-solid fa-magnifying-glass"></i>
    <span> View </span>
  </a>
  <a href="/AddUser"
    ><i class="fa-solid fa-user-plus"></i>
    <span> Add user </span>
  </a>
  <a href="/EditUser"
    ><i class="fa-solid fa-user-pen"></i>
    <span> Edit account </span>
  </a>
  <a href="/auth/Logout"
    ><i class="fa-solid fa-right-from-bracket"></i>
    <span> Logout </span>
  </a>
</nav>
{% endblock %}
