$primary-background-color: rgb(105, 105, 105);
$secondary-background-color: rgb(255, 255, 255);
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$error-color: rgb(255, 0, 0);
$success-color: rgb(0, 255, 0);
$warning-color: rgb(255, 255, 0);
$input-color: rgb(0, 0, 0);
$button-color: rgb(0, 0, 0);
$button-background-color: rgb(255, 255, 255);
