$primary-background-color: #c8c2ae; // Blue
$secondary-background-color: #2ecc71; // Green
$primary-text-color: #333; // Dark gray
$secondary-text-color: #fff; // White

//
$error-color: #e74c3c; // Red
$success-color: #2ecc71; // Green
